@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf');
    src: url('../fonts/Roboto-Medium.ttf') format('embedded-opentype'),
        url('../fonts/Roboto-Medium.ttf') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}