* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto';
    color: #808080;
    color: #ffffff;
}

h1 , h2, h3, h4, h5, h6{
    text-transform: uppercase;
    /* display: inline-block;
    border-bottom: 2px dotted; */
}

body {
    background-color: #C1FFBA;
    background-image: url(../img/2471316.gif);
}

.container{
    padding: 50px;
    width: 800px;
    min-height: 800px;
    background-color: #808080;
    opacity: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: first baseline;
}

.main{
    width: 250px;
}

.certificate{
    display: block;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    margin-right: 50px;
}    

.main_title{
    text-align: center;
    margin-top: 20px;
    color: #54f6a1;
}

.Profil_main{
    display: block;
    margin: 20px auto 0 auto ;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}
.name , .surname{
    margin-right: 30px;
   text-align: end;
   font-size: 25px;
}
.speciality{
    margin-top: 5px;
    text-align: center;
    color: #54f6a1;
}

.name{
    text-indent: 20px;
}
.contacts{
    margin: 20px 50px 0 50px;
    width: 400px;
}

.contacts_title{
    text-align: center;
}

.contacts_icons{
 display: inline-block;
}
.contacts_wrapper{
   margin-left: 60px;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.contacts_text{
    display: inline-block;
    text-align: center;
}
.contact_item{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-self: center;
}
